@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,700;1,700&family=Dosis&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: linear-gradient(45deg, #fb0000, #ff9900b7);
    font-family: 'Fira Sans', sans-serif;
    background-color: #f8edeb;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainContainer {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 95%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    margin-left: 15px;
    font-size: x-large;
    font-style: italic;
    font-family: 'B612 Mono';
    padding: 15px 20px;
    z-index: 2;
}

.logo img {
    position: absolute;
    width: 39%;
    height: 80%;
    left: 77%;
    z-index: -1;

}

ul li {
    padding-right: 2em;
    list-style: none;
    font-size: small;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;

}

.button {
    background-color: red;
    border-radius: 20px;
    color: white;
    margin: 5px;
}

.banner {
    position: relative;
}

.banner-img {
    display: block;
    position: absolute;
    width: 35%;
    right: 0%;
}

.banner-header {
    position: absolute;
    margin-top: 4em;
    left: 4em;
}

.button2 {
    letter-spacing: 1px;
    background-color: red;
    border-radius: 8px;
    color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
    transition: .4s
}

.button2:hover {
    color: red;
    background-color: wheat;
    border-radius: 8px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}

/* RECOMMENDED SIDE */

.recommended {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    margin-top: 28%;
}

.recommended-box {
    text-align: center;
    justify-content: space-around;
    line-height: 1.3;
    width: 180px;
    height: 340px;
    border: 1px 0px solid rgb(0, 0, 0);
    border-radius: 90px 90px 10px 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.recommended img {
    width: 65%;
}

.recommended-box p {
    font-size: small;
    padding: 10px;
}

.recommended a {
    text-align: center;
}

h4 {
    position: relative;
    top: 3px;
    color: green;

}

.button3 {
    position: relative;
    top: 10px;
    padding: 1px 30px;
    background-color: red;
    border-radius: 8px;
    color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
    transition: .4s
}

.button3:hover {
    color: red;
    background-color: wheat;
    border-radius: 8px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}

.recommended-box input {
    padding: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

.pizza-turu3select {
    position: relative;
    top: 1em;
}

#pizza-turu3select {
    position: relative;
    top: 22px;
}

.absolute1{
    position:absolute;
    right: -45px;
    top: -25px;
    width: 10%;
    opacity: 60%;
    z-index: -1;
}

.absolute2{
    position:absolute;
    left: -100px;
    top: 200px;
    z-index: -1;
    width: 20%;
}
.absolute3{
    position:absolute;
    left: -110px;
    top: 600px;
    z-index: 2;
    width: 15%;
}
.absolute4{
    position:absolute;
    right: -35px;
    top: 400px;
    width: 6%;
    z-index: 1;
}
.absolute5{
    position:absolute;
    left: 450px;
    top: 225px;
    width: 35%;
    opacity: 10%;
    z-index: 0;
}
.absolute6{
    position:absolute;
    top: -20px;
    width: 10%;
    right: 405px;
}